#hero .gradient-stroke,.overlay{width:100%;left:0;position:absolute}form button[type=submit],form input[type=phone],form input[type=company],form input[type=text],form input[type=name],form input[type=email],form input[type=password],form input[type=tel],form input[type=submit],form textarea{border:2px solid transparent}form button[type=submit]:active,form button[type=submit]:focus,form input[type=text]:active,form input[type=text]:focus,form input[type=name]:active,form input[type=phone]:active,form input[type=company]:active,form input[type=phone]:focus,form input[type=company]:focus,form input[type=name]:focus,form input[type=email]:active,form input[type=email]:focus,form input[type=password]:active,form input[type=password]:focus,form input[type=tel]:active,form input[type=tel]:focus,form input[type=submit]:active,form input[type=submit]:focus,form textarea:active,form textarea:focus{border:2px solid #c4d818}.panel .sections .menu li a:hover{color:#c4d818}.button.litegreen,.litegreen,.panel .button.litegreen{background:#c4d818;color:#303030}.navyblue{background:#8BC34A}.navigation li:after{transition:none}.navigation li.selected:after{background: #fff;box-shadow: none;border-radius: 50%;}.fade .content{background:rgba(17,19,20,.3)}.background video{width:100%}#hero .gradient-stroke{display:block;bottom:0;height:127px;z-index:100;background-repeat:no-repeat;background-size:cover}.overlay{opacity:.7;height:100%;top:0;z-index:15}.over-lay-one:before,.over-lay-three:before,.over-lay-two:before{content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;background-size:cover!important}#contact .label,.mobile{display:none}.overlay-image{background-repeat:no-repeat;background-color:transparent}.logo-grid>div{margin-bottom:20px}.logo-grid>div img{max-width:80px;height:auto;margin:auto}.leftControl,.rightControl{position:absolute;top:50%;margin-top:-35px;margin-left:-100px;cursor:pointer;font-size:0;z-index:50}.rightControl{right:0;margin-right:-100px}.leftControl svg,.rightControl svg{width:30px;height:70px}/*::-webkit-input-placeholder{text-align:left}::-moz-placeholder{text-align:left}:-moz-placeholder{text-align:left}::-ms-input-placeholder{text-align:left}*/input#email55,input#phone55,input#company55,input#name55,textarea#message55{text-align:left!important}#contact .wrap{padding:calc(1.56% + 50px) calc(8% + 15px) 0}#contact .slide-title{font-size:35px;margin-bottom:15px}#contact .slide-caption p{font-size:16px}form input[type=text],form input[type=phone],form input[type=company],form input[type=name],form input[type=email],form input[type=password],form input[type=tel],form select,form textarea{font-weight:400}.slide2-title{margin-top:-15px;margin-bottom:55px}.slide2-icons li{margin-bottom:35px}.slide3-title{margin-top:-25px}.slide3-logos img{width:100%}ul.has-border li.selected img{border-radius:15px;overflow:hidden}ul.has-border>li:nth-child(1) .logo-grid .col-4-12:nth-child(5) a img{height:95%!important}ul.has-border>li:nth-child(2) .logo-grid .col-4-12:nth-child(3) a img,ul.has-border>li:nth-child(2) .logo-grid .col-4-12:nth-child(6) a img{height:95%}.pad{background-color:#808080!important}.bg{background-size:100%}.call-me-,.email-me-{font-size:25px;font-weight:bolder;color:#353535}.call-me- a,.email-me- a{font-size:25px;text-decoration:none;color:#fff;font-weight:700}.email-content{text-align:center;padding:30px}.call-me- a:hover,.email-me- a:hover{color:#bbb}.email-me-{margin-bottom:10px} 
.button.round {
    border-radius: 0px!important; 
}
.panel .button:not(.actionButton) {
    font-size: 15px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px!important;
    width: 100%;
}
.right >div >a.btn2bot:not(.actionButton) {
    padding: 10px 3.83em !important;
}
.panel .sections .menu {
	padding: 0px!important;
}
.right >div {
    background-color: #c4d818;
    border-radius: 6px;
}
.pad {
    padding: 6%!important;
}
@media (min-width: 1366px) {
	/*ul.controller.dots.ae-2.fromCenter.done li.dot {
	    width: 16%;
	}*/
	.dot:after {
	    width: 6px;
    	height: 6px;
	}

}
@media (max-width: 1366px) {
	.background video {
	    width: 130%;
	    position: absolute;
	    left: -15%;
	}
	
	.leftControl {
	    margin-left: -3%;
	}
	.rightControl {
	    margin-right: -7%;
	}
	.navigation li.selected:after {
	    background: #fff;
	    box-shadow: none;
	    border-radius: 50%;
	}
	.navigation li:after {
	    opacity: .4;
	}
	
}
@media (min-width: 1024px) {
	.container .wrap {
	    display: table-cell!important;
	}
	.mobile {
	    display: block;
	    width: 100% !important;
	    position: inherit;
	    top: 0%;
	    left: 0%;
	}
}
@media (max-width: 1024px) {
	.background video {
	    width: 231%;
	    position: absolute;
	    left: -63%;
	}
	ul.controller.dots.ae-2.fromCenter.done li.dot {
	    width: 16%;
	}
	.dot:after {
	   	width: 40%;
    	height: 14px;
	}
	
}
@media (max-width: 812px) {
	.leftControl {
	    margin-left: -5%;
	}
	.rightControl {
	    margin-right: -6%;
	}
	.mobile >img {
	    width: 100%;
	}
}
@media (min-width:769px){
	.mobile > img {
		display: none;
	}
} 
@media (min-width:768px){
	.call-me- a,.email-me- a{
		font-size:100%
	} 
	.mobile >img {
	    width: 100%;
	}
	ul.has-border>li:nth-child(1) .logo-grid .col-4-12:nth-child(5) a img{
		height: 100%!important;
		margin-bottom: 27px;
	}
	.container .wrap {
	    display: table-cell!important;
	}
} 
@media (max-width: 768px){
	.background video {
		display: none
	}
} 
@media (max-width:767px){
	.call-me- a,.email-me- a{
		font-size:94%
	}
	video{
		display:none
	}
	.mobile{
		display:block
	}
	ul.has-border>li:nth-child(1) .logo-grid .col-4-12:nth-child(5) a img{
		height: 95%!important;
		margin-bottom: 27px;
	}
} 
@media (max-width: 766px) {
	.slide3-logos img {
	    width: 30%;
	}
}
@media (max-width: 667px){ 
	.slide3-logos .col-2-12 img{
		width: 20%;margin-bottom: 0px;
	}
	ul.has-border>li:nth-child(1) .logo-grid .col-4-12:nth-child(5) a img{
		height: 95%!important;
		margin-bottom: 27px;
	}
} 
@media (max-width:600px){
	.call-me- a,.email-me- a{
		font-size:90%
	}
}
@media (max-width:530px){
	.call-me- a,.email-me- a{
		font-size:75%
	}
}
@media (max-width:479px){
	.slide3-logos .col-2-12 img {
		width: 35%;
	} 
	.mobile{
		display: block;
	    width: 170% !important;
	    position: absolute;
	    top: 10%;
	    left: -35%;
	}
	.call-me- a,.email-me- a{
		font-size:65%
	}
	.email-content{
		padding:10px
	}
	video{
		display:none
	}
	.mobile{
		display:block
	}
	.hide-p p{
		display:none
	}
}
@media (max-width: 480px) {
	.slide3-logos .col-2-12 img {
		width: 35%;
	} 
	.mobile{
		display: block;
	    width: 285% !important;
	    position: absolute;
	    top: 0%;
	    left: -85%;
	}
	.container .wrap {
	    display: block!important;
	}
}
@media (min-width:480px){
	
	.mobile{
		display: block;
	    width: 285% !important;
	    position: absolute;
	    top: 0%;
	    left: -85%;
	}
	.container .wrap {
	    display: block;
	}
} 
@media(max-width: 414px){
	.mobile{
		display:block;
	    width: 312% !important;
	    top: 0% !important;
	    left: -100%;
	}  
	.slide3-logos .col-2-12 img {
		width: 40%;margin-bottom: 0px;
	} 
}
@media (max-width:375px){ 
	.mobile{
		display: block;
	    width: 381% !important;
	    top: 0% !important;
	    left: -130%;
	}
	.mobile >img {
	    width: 100%;
	} 
	.slide3-logos .col-2-12 img {
		width: 40%;
		margin-bottom: 0px;
	} 
	ul.slider.ae-1.fromTop.done p {
	    font-size: 20px;
	    margin-top: 1em;
	    padding-left: 15px;
	}
	.leftControl {
	    margin-left: -8%;
	    margin-top: 20px;
	}
	.rightControl {
	    margin-right: -9%;
	    margin-top: 20px;
	}
	.leftControl svg, .rightControl svg {
	    width: 30px;
	    height: 40px;
	}
	ul.controller.dots.ae-2.fromCenter.done li.dot {
	    width: 22%;
	}
	.dot:after {
	    width: 55%;
	    height: 22px;
	}
} 
@media (max-width:370px){
	.mobile {
		width: 312% !important;
	    top: 0% !important;
	    left: -100%;
	} 
	.call-me- a,.email-me- a{
		font-size:55%
	}
	.hide-p p{
		display:none
	}
}
@media only screen and (max-width :320px){
	.mobile {
		width: 307% !important;
	    position: absolute;
	    top: 0% !important;
	    left: -84%;;
	} 
	.slide3-logos .col-2-12 img {
		width: 50%;
	} 
	.email-content{
		padding:10px
	}
	.call-me- a,.email-me- a{
		font-size:55%
	}
	video{
		display:none
	}
	.mobile{
		display:block
	}
	.hide-p p{
		display:none
	}
	ul.controller.dots.ae-2.fromCenter.done li.dot {
	    width: 22%;
	}
	.dot:after {
	    width: 60%;
	    height: 22px;
	}
}
